# Terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/generated-key.pem
terraform/kubeconfig
terraform/*.tfvars
terraform/.terraform.tfstate.lock.info

# Docker
*.log

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
